<!DOCTYPE html>
<html>
<head>
  <title>OpenteamCommons</title>
  <%= stylesheet_link_tag    "openteam-commons/application", :media => "all" %>
  <%= javascript_include_tag "openteam-commons/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
